---
layout: land
js: p/home-force.js
---
<header id="welcome">
	<div class="container">
		<div class="intro-text">
			<h1>Helping BU with its data</h1> 
			<a class="btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#myModal">Contact</a>
		</div>
		<p class="citation">Image from: P. Bartsch, Ronny; K. L. Liu, Kang; Bashan, Amir; Ch. Ivanov, Plamen (2015): Networks of physiologic interactions between brain areas and key organ systems during different physiologic states. <a href="https://dx.doi.org/10.1371/journal.pone.0142143.g017">https://dx.doi.org/10.1371/journal.pone.0142143.g017</a></p> 
	</div>
</header> 

<section id="services">
	<div class="container">
		<div class="row" id="services">
			<div class="col-md-4 service">
				<div>
					<h3>Consultations</h3>
					<p>Need help? Schedule a one-on-one consultation</p> 
					<a class="btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#myModal">Request</a>
				</div> 	
			</div> 
			<div class="col-md-4 service">
				<div>
					<h3>Guides</h3>
					<p>Use our guides to get started managing your data.</p>
					<a class="btn-lg btn-success" href="#" role="button">View</a> 
				</div>
			</div> 
			<div class="col-md-4 service">
				<div>
					<h3>Workshops</h3>
					<p>Come get some hands-on training at one of our workshops.</p> 
					<a class="btn-lg btn-success" href="{{ site.baseurl }}/workshops" role="button">View</a>
				</div> 
			</div> 
		</div>
	</div>
</section>

<section id="timely-news">
	<h3>Things to know about</h3> 
	<ul> 
{% for post in site.posts reversed limit:5  %}
	{% if post.tag contains "news" %}
		<li>
            <div class="row">
              <div class="news-date col-lg-2 col-lg-offset-2">
              	<p> {{ post.date | date: "%B" }} {{ post.date | date: "%-d" }}</p> 
              	<!--
                <ul>
                  <li>{{ post.date | date: "%B" }}</li>
                  <li>{{ post.date | date: "%-d" }}</li> 
                  <li>{{ post.date | date: "%Y"}}<li>
                </ul>
            --> 
              </div> 
              <div class="col-lg-6">
                <a class='news-title' href="{{ post.link }}">
                  <h4>{{ post.title }}</h4>
                </a>
                <div class="eventDesc"> {{ post.excerpt }} </div> 
              </div> 
            </div>         
          </li>
          <hr> 
	{% endif %}
{% endfor %} 
	</ul> 
</section>
<section id="tool-tip">
	<div class="container">
		<div class="col-md-4">
			<a href="https://dmptool.org/user_sessions/institution" title="DMPTool"><img src="{{ site.baseurl }}/assets/images/DMPTool_logo.jpg" class="img-responsive" alt="DMPTool Logo"/></a> 
			<p>Use the DMPTool to build your data management plan. With over 30 data management plan templates from funders such as the National Science Foundation and the Sloan Foundation, the DMPTool is a useful tool for writing your data management plan.</p> 
		</div> 
		<div class="col-md-8">
			<h3>Tip: Add tip title here </h3>
			<p>Add Tip Info</p> 
		</div>
	</div>
</section>
<section id="about">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h3>About Us</h3> 
		</div> 
	</div>
</section>
