<footer class="footer">
	<div class="container">
      <a class="bu-logo" href="http://www.bu.edu/">
        <img src="{{ site.baseurl }}/assets/icons/bu-logo.png" class="footer-img img-responsive img-centered" alt="Logo of Boston University">
      </a>
      <ul>
      	<li><a href="tel:617-353-7332"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>617-353-7332</a></li>
      	<li><a href="mailto:data@bu.edu"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>data@bu.edu</a></li> 
      </ul>  
    </div> 
</footer>
