<footer class="footer">
	<div class="container">
      <a class="bu-logo" href="http://www.bu.edu/">
        <img src="{{ site.baseurl }}/assets/icons/bu-logo.png" class="footer-img img-responsive img-centered" alt="Logo of Boston University">
      </a>
      <ul>
      	<li><a href="tel:617-353-7332"><img alt="phone icon" src=" {{ site.baseurl }}/assets/icons/phone-gray.png" width="19px" height="19px" />617-353-7332</a></li>
      	<li><a href="mailto:data@bu.edu"><img alt="phone icon" src=" {{ site.baseurl }}/assets/icons/mail-gray.png" width="19px" height="19px" />data@bu.edu</a></li> 
      </ul>  
    </div> 
</footer>
