<!-- jQuery Version 1.11.0 -->
<script src="{{ site.baseurl }}/assets/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/afeld/bootstrap-toc@v0.4.0/dist/bootstrap-toc.min.js"></script>

<!-- D3 --> 
<script src="{{ site.baseurl }}/assets/js/d3.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/custom.js"></script>

{% for js in page.js %}
 <script src="{{ site.baseurl }}/assets/js/{{ js }}"></script>
{% endfor %}

<!-- Add Google Analytics Here -->
<script>
		
</script>