/***
Global Variables for bu.edu/data 

***/ 

/* primary colors */ 
$cta-color: #46C3A0; 
$cta-color-hover: rgba(70,195,160,0.6); 
$background-color: #F8F8F8;
$box-color: rgba(248, 248, 248, 0.7);/* $background color with 70% opacity */ 
$box-edge: #D6D4D3;
$pipe-color: #D6D4D3;
$footer-color: #383838;
$blockquote-color: #F5FFF2;

/* font colors */

$primary-text: #383838;
$secondary-text: #000000;
$white-text: #FFFFFF;
$gray-text: #B7B6B5; 
$cta-text: $cta-color; 

/* font sizes */

$font-size: 17px;
$line-height: 26px; 

/* edges */

$rounded-corner: 2px; 

/* widths */

$article-width: 600px; 

/**

 Mixins 

**/ 

