
/* * * * * * * * * * * * * * 
 *
 * Element styles 
 *
 *
 * * * * * * * * * * * * * */

html, 
body {
	height: 100%; 
	color: #404040;
}

article {
	max-width: 600px;
    margin: 0 auto;
}

blockquote {
	background-color: #f5fff2; 
	border-left: 5px solid #4fc3a0;
}

p,
ul {
	font-size: 17px;
	line-height: 26px; 
}


/* * * * * * * * * * * * * * 
 *
 * Navbar Styles 
 *
 *
 * * * * * * * * * * * * * */

.navbar,
.navbar-default {
	background-color: rgba(255, 255, 255, 0.9); 
	border-radius: 0; 
	min-height: 60px; 
	padding: 25px 0px;
	transition: padding 0.3s ease 0s
}

nav.navbar.navbar-default.shrink {
	padding: 10px 0; 
}


.navbar-nav > li:hover {
	border: 1px solid #4fc3a0;
}

.navbar-right {
	margin-right: 20px; 
}

.navbar-brand {
	margin-left: 20px;
	padding-top: 5px; 
	width: 75%; 
}

.navbar-brand img {
	max-height: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: #0c0c0c;
}

#main {
	padding: 120px 0 10px;
}

.nav > li > a {
    padding: 10px 13px;
}
/* * * * * * * * * * * * * * 
 *
 * Sticky Footer
 *
 *
 * * * * * * * * * * * * * */

.page-wrapper {
	min-height: 100%;
	margin-bottom: -200px;  
}

.page-wrapper:after {
  content: "";
  display: block;
}

footer, 
.page-wrapper:after {
  	height: 200px; 
}

/* * * * * * * * * * * * * * 
 *
 * Home Page Styles 
 *
 *
 * * * * * * * * * * * * * */


.intro-text {
	text-align: center; 
}

.service > div {
	background-color: #f2f2f2;
	border: 1px solid #c9c9c9;
	margin: 2% 0;
	min-height: 200px;
	padding: 12px;
}

.service > div > h3 {
	margin: 5px 0 15px;
}

.service > div > p {
	margin-bottom: 25px; 
}

.btn-success {
	background-color: #4fc3a0;
}

.btn-success:hover {
	background-color: #308169; 
}


#timely-news {
	text-align: center;
	padding: 20px 0 4px;
	background: transparent repeating-linear-gradient(45deg,rgb(248,249,190),rgb(253,255,214) 10px,rgb(254,252,231) 10px,rgb(251,249,224) 20px) repeat scroll 0 0;
	width: 75%;
	max-width: 1136px; 
	margin: 15px auto;
	border-radius: 15px;
}

#about {
	min-height: 400px; 
}

#all {
	display: block; 
}

#welcome {
	padding-top: 120px;
	min-height: 600px;
}



/* * * * * * * * * * * * * * 
 *
 * Section Index Style 
 *
 *
 * * * * * * * * * * * * * */

.section-index-item {
    height: 230px;
    background-color: #e6e6e6;
    margin: 2.5%;
}

/* * * * * * * * * * * * * * 
 *
 * Page Style 
 *
 *
 * * * * * * * * * * * * * */

.page-title {
	text-align: center; 
}

/* table of contents */ 
nav[data-toggle=toc] .nav>li>a {
	font-size: 15px; 
}

nav[data-toggle=toc] .nav>li>a:focus, 
nav[data-toggle=toc] .nav>li>a:hover,
nav[data-toggle=toc] .nav>.active:focus>a, 
nav[data-toggle=toc] .nav>.active:hover>a, 
nav[data-toggle=toc] .nav>.active>a {
	color: #0c0c0c;
	border-left: 2px solid #4fc3a0;
}



/* * * * * * * * * * * * * * 
 *
 * Page Styles 
 *
 *
 * * * * * * * * * * * * * */

h1.title {
	text-align: center; 
}

p.author {
	font-size: 18px; 
	text-align: center; 
}

.template {
	margin: 10px auto;
    display: block;
    width: 25%;
}

.template > span.glyphicon {
	font-size: 40px; 
	line-height: 40px; 
	top: 4px;
}

.poc > p {
	margin-top: 20px; 
}

.poc > .member > ul {
	list-style: none; 
	display: inline-block;
    margin: 5px;
    padding: 0;
}

.poc > .member > img {
	border-radius: 50%;
    float: left;   
}

.member {
	background-color: #f5fff2;
    border-left: 2px solid #4fc3a0;
    height: 96px;
}

/* * * * * * * * * * * * * * 
 *
 * Post Styles 
 *
 *
 * * * * * * * * * * * * * */

article.post {
	max-width: none; 
}

article.post > h1 {
	text-align: center; 
	margin-bottom: 4%; 
}

div.entry a.btn-lg {
	margin: 5% auto;
	display: block;
	text-align: center;
	width: 200px ;
}

div.entry h2.join-us {
	text-align: center; 
}

.post-text {
	margin: 0 auto;
	max-width: 600px
}

.videoWrapper {
	margin: 0px 4%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* * * * * * * * * * * * * * 
 *
 * footer 
 *
 *
 * * * * * * * * * * * * * */

footer {
	background-color: #000000;
	border-top: 1px solid #E0E0E0;  
	min-height: 200px; 
	text-align: center; 
}

footer ul {
	float: right; 
	list-style: none; 
	margin: 40px 0;
}

footer ul li {
	display: inline;
	padding: 0 25px 0 0;
	line-height: 2;
	font-size: 1.1em; 
	font-weight: 200;
}

footer ul li a span {
	margin-right: 10px; 
}

footer ul li a,
footer ul li a:hover,
footer ul li a:visited {
	color: white;
}


footer a.bu-logo {
	float: left;
	margin: 40px 40px 0 0;
}

footer address {
	display: block; 
	width: 500px; 
}

footer div.container div {
	float: left;
	text-align: left;
	margin: 40px 0px 0px;
}

footer h3 {
	margin: 0;
}

footer h3 span {
	font-weight: 300; 
}
