---
---

@import '_variables.scss'; 

html,
body {
    height: 100%;
    background-color: $background-color; 
}

article {
    margin: 0 auto 150px;
}

blockquote {
    background-color: $cta-color-hover;
    border-radius: $rounded-corner;
    border-left: 0;
}

blockquote {
    word-wrap: break-word;
}

p,
ul {
    font-size: $font-size; 
    line-height: $line-height; 
}

code {
    background-color: rgba(70, 185, 160, 0.2);
    color: #333; 
}

p,
.row {
	margin-right: 0;
	margin-left: 0; 
}

.btn-lg.btn-success {
	border: 0; 
}

.no-margin {
    margin: 0 0 0 0; 
}

/* * * * * * * * * * * * * * 
 *
 * Navbar Styles 
 *
 *
 * * * * * * * * * * * * * */

.navbar,
.navbar-default {
    background-color: $background-color; 
    border-radius: 0;
    min-height: 60px; 
    padding: 25px 0px;
    transition: padding 0.3s ease 0s;
}

nav.navbar.navbar-default.shrink {
	padding: 10px 0; 
}

.navbar-nav > li:hover {
	border: 1px solid #4fc3a0;
}


.navbar-brand {
	margin-left: 20px;
	padding-top: 5px; 
	width: 240px; 
}


@media (min-width: 768px) {
    .navbar-brand img {
	max-height: 50px;
    }

}

.navbar-default .navbar-nav > li > a {
    color: $primary-text;
}

.nav > li > a {
    padding: 10px 13px;
}

#navbar-collapse-1 > ul > li {
	text-align: right; 
}

/* * * * * * * * * * * * * * 
 *
 * Sticky Footer
 *
 *
 * * * * * * * * * * * * * */

.page-wrapper {
	min-height: 100%;
	margin-bottom: -150px;  
}

.page-wrapper:after {
  content: "";
  display: block;
}

footer, 
.page-wrapper:after {
  	height: 150px; 
}

/* * * * * * * * * * * * * * 
 *
 * Home Page Styles 
 *
 *
 * * * * * * * * * * * * * */

.intro-text > h1 {
	font-size: 60px; 
	text-align: left;
	color: $primary-text; 
}

@media (min-width: 500px) {
	.intro-text > h1 {
	    font-size: 80px;
	}
}

@media (min-width: 970px) {
	.intro-text {
		width: 55%;
	}
	.intro-text > a {
		font-size: 20px; 
		width: 25%;
	}
}

.intro-text > a {
    display: block;
	text-align: center;
	min-height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: $font-size; 
	font-weight: 500;
}

.service > div,
.dmptool > div,
.partner > div{
    border: 2px solid $box-edge;
    min-height: 200px;
    padding: 12px 20px;
    border-radius: 2px;
    margin-bottom: 25px; 
}

.dmptool > div > p {
    padding-top: 15px;
    margin-bottom: 25px; 
}

.dmptool > div {
    padding-bottom: 25px;
} 

.calendar-box:hover,
.service > div:hover, 
.dmptool > div:hover {
    border-color: $cta-color; 
}

.service > div > h3 {
    margin: 5px 0 15px;
    font-weight: 800;
    color: $primary-text; 
}

.service > div > p {
    margin-bottom: 25px;
    color: $secondary-text; 
}

.btn-success {
    background-color: $cta-color; 
}

.btn-success[disabled],
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
.btn-success[disabled]:active {
    background-color: #000; 
}

.btn-lg.btn-success:focus,
.btn-lg.btn-success:active:focus,
.btn-lg.btn-success:active,
.btn-success:hover, 
.btn-success:focus,
.btn-success:active:focus {
    background-color: $cta-color-hover;
    text-decoration: none; 
}

.citation {
    font-size: 10px;
    line-height: 1;
    margin: 0 15px;
}

#welcome > div.container > p.citation{
    position: absolute;
}

#timely-news {
	padding: 20px 0 4px;
	max-width: 1136px; 
	margin: 15px auto;
	border-radius: 15px;
}

@media (min-width: 500px) {
	#timely-news {
		width: 75%;
	}
}

#calendar {
    margin-top: 55px;
} 

div.calendar-box > h3::before {
  content: "";
  background-color: $cta-color; 
  background-repeat: no-repeat; 
  top: 0px; 
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  max-height: 25px;  
  margin: 0 15px; 
}

.calendar-box ul {
    list-style: none;
    padding: 0 20px; 
}

.calendar-box {
    border: 2px solid $box-edge;
    padding-top: 15px;
    margin-bottom: 25px; 
}

.calendar-box h3 {
    padding: 25px 0 0 25px;
    font-weight: 800;
    margin-bottom: 15px; 
}

.calendar-box h3 span {
    float: right;
    margin-right: 25px;
    font-size: 16px; ;
    color: $cta-color;
    font-weight: 400; 
}

.calendar-box a.calendar-more,
.calendar-box a.calendar-more:visited {
    color: $cta-color; 
}

.calendar-box a.calendar-more:hover,
.calendar-box a.calendar-more:active,
.caldenar-box a.calendar-more:focus {
    text-decoration: none;
}

@media (min-width: 768px) {
    
    .news-date {
	padding: 0;
	width: 10%; 
   }

    .news-title {
	max-width: 80%;
	border-left: 1px solid #D6D4D3; 
    }
    
    .news-item .news-date,
    .news-item .news-title,
    .news-item p,
    .news-item  .news-title-link {
	display: inline-block;
    }

    .news-item .news-title .news-title-link {
	display: inline-block; 
    }  
}

#timely-news .news-date {
	text-align: center; 
}


.news-date > p {
    padding: 5px 0 10px;
    font-weight: 800;
    color: $cta-color;
    font-size: 18px;
    text-align: center; 
}


.news-item .news-title .news-title-link {
    display: block; 
    padding-left: 20px;
    color: $secondary-text;
    text-decoration: none;
    word-wrap: break-word;
}

#timely-news hr {
	width: 50%
}

#timely-news ul {
	list-style: none; 
}

#timely-news > h3 {
	text-align: center; 
	font-style: italic;
	text-decoration: underline;
}

#timely-news li.news-item:nth-of-type(n+6),
#timely-news hr:nth-of-type(n+6) {
	display: none; 
}

a.news-title  {
	color: #404040;
	text-decoration: none; 
}

#tool-tip {
	min-height: 400px; 
	text-align: center; 
}

#tool-tip h3 {
	text-align: center;
}

#tool-tip img {
	padding: 20px;
}

#tool-tip > div.container > div.col-md-4 > p {
	text-align: left;
	padding: 0 20px;
}

#tool-tip > div.container > div.col-md-8 > p:nth-child(3) {
	margin-bottom: 40px;
}

#about {
	min-height: 400px; 
}

#about h3 {
	text-align: center; 
}

#all {
	display: block; 
}

#welcome {
	padding-top: 120px;
	min-height: 600px;
	position: relative;
}

#partners {
    background-color: #E6E6E6;
    margin-top: 50px;
    padding: 50px 0;
    border-top: 1px solid #B7B6B5;
    border-bottom: 1px solid #B7B6B5; 
}

#partners h2 {
    padding-left: 15px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 800;
}

.partner > div {
    background-color: #F8F8F8;
    padding-bottom: 25px; 
}

.partner h3 {
    font-weight: 800;
} 

.partner p {
    margin-bottom: 25px;
}


.home-page.page-wrapper {
  background: url("../images/home-background-images/home-background-image.png");
  background-repeat: no-repeat; 
  background-position: right top;

}
/*
.intro-background-image{
  content: "";
  background: url("../images/home-background-images/home-background-image.png");
  background-repeat: no-repeat; 
  opacity: 0.1;
  top: 0;
  left: 500px;
  bottom: 0;
  right: 0;
  position: absolute;
  min-height: 800px;  
}
*/

/* * * * * * * * * * * * * * 
 *
 * Section Index Style 
 *
 *
 * * * * * * * * * * * * * */

.section-introduction,
#main > .workshops:first-child,
#main > article.post {
	padding: 120px 0 0;
}

div.section-index-title {
    height: 230px;
    border: 1px solid #e6e6e6;
    border-radius: $rounded-corner; 
    padding: 0;
    position: relative;
    bnackground-color: rgba(126, 126, 255, 0.8);
}

div.section-index-title:hover,
div.section-index-title:active,
div.section-index-title:focus {
    opacity: 0.7; 
}

div.section-index-title > a {
    text-align: center; 
    position: absolute;
    top: 35%;
    height: 100%; 
    width: 100%; 
}

div.section-index-title > a:hover,
div.section-index-title > a:focus,
div.section-index-title > a:active {
    text-decoration: none;
} 

div.section-index-title > a > h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    margin: 0 10px; 
}

div.section-index-item {
    margin-bottom: 50px;
    padding: 0px; 
}

@media (min-width: 970px) {

    div.section-index-item:nth-child(odd){
	clear: both;
    }

    div.section-index-item:nth-child(even) {
	float:right;
    }

    div.section-index-item:nth-child(even) .section-index-title,
    div.section-index-item:nth-child(even) p {
	margin-left: 5%; 
    }

    div.section-index-item:nth-child(odd) .section-index-title {
	margin-right: 5%
    }

    div.section-index-item:nth-child(even) p {
	padding: 0 10px;
    }

}

.section-index-item-header > a {
	color: #fff;
	text-align: center; 
}
.section-index-item-header > a > h3 {
	margin: 0; 
	padding-top: 10px;
}

.section-index-item > p {
    margin: 0 10px;
    width: 90%; 
}

.section-introduction {
    text-align: center;
    margin: 25px 0 50px 0; 
}

.section-introduction h1 {
    text-color: $primary-text;
    font-weight: 800; 
}

.section-introduction-past-workshops {
    text-align: center;
    margin: 25px 0 50px;
}

.section-index-item p,
.section-introduction p {
    text-color: $secondary-text;
}

.section-index-item-header > a ,
.section-index-item-header > a :hover {
	text-decoration: none 
}

/* * * * * 

Unique backgrounds 

* * * * */


.burgundy-triangles {
    background-image: url(../images/patterns/burgundy-triangles.png); 
}

.purple-hexagons {
    background-image: url(../images/patterns/purple-hexagons.jpg); 
}

.blue-waves {
    background-image: url(../images/patterns/blue-waves.jpg); 
}

.red-circles {
    background-image: url(../images/patterns/red-circles.jpg); 
}

.green-plaid {
    background-image: url(../images/patterns/green-plaid.jpg); 
}

.gold-triangles {
    background-image: url(../images/patterns/gold-triangles.jpg); 
}

.green-diamonds {
    background-image: url(../images/patterns/green-diamonds.png);
}

.burgundy-triangles,
.purple-hexagons,
.blue-waves,
.red-circles,
.green-plaid,
.gold-triangles,
.green-diamonds {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

 
/* * * * * * * * * * * * * * 
 *
 * Page Style 
 *
 *
 * * * * * * * * * * * * * */

.page-title-wrapper{
    width: 100%;
    background-color: rgba(126, 126, 255, 0.8);	      
}

.page-title {
	padding: 120px 0 0 0;
	min-height: 270px;
	margin-bottom: 50px;
	position: relative; 
}

#main {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative; 
}

.page-title h1 {
	text-align: left;
	color: $white-text; 
	font-weight: 800;
	font-size: 4.3em;
	position: absolute;
	top: 60%;
	margin-top: 10px; 
}

.page-author {
	font-size: 18px; 
	padding-bottom: 25px; 
}

article.page {
    padding: 0;
}    

article.page > div.entry h2,
article.page > div.entry p {
    margin-bottom: 25ypx; 
}

article.page > div.entry h2 {
    margin-top: 25px;
    font-weight: 800; 
}

article.page > div.entry p {
    color: $secondary-text; 
}


/* table of contents */ 
nav#toc {
	display: none; 
}

@media (min-width: 1200px) {
	nav#toc {
		display: unset; 
	}
}

nav[data-toggle=toc] .nav>li>a {
	font-size: 15px; 
}

nav[data-toggle=toc] .nav>li>a:focus, 
nav[data-toggle=toc] .nav>li>a:hover,
nav[data-toggle=toc] .nav>.active:focus>a, 
nav[data-toggle=toc] .nav>.active:hover>a, 
nav[data-toggle=toc] .nav>.active>a {
    color: $primary-text; 
    border-left: 2px solid $cta-color;
}

nav#toc {
    position: absolute;
}

nav#toc.affix {
    top: 75px;
    position: fixed; 
}


ul.nav {
    margin-top: 5px; 
}


/* * * * * * * * * * * * * * 
 *
 * Page Styles 
 *
 *
 * * * * * * * * * * * * * */

h1.title {
	text-align: center; 
}

p.author {
	font-size: 18px; 
	text-align: center; 
}

.template {
	margin: 10px auto;
    display: block;
    width: 25%;
}

.template > span.glyphicon {
	font-size: 40px; 
	line-height: 40px; 
	top: 4px;
}

.poc > p {
	margin-top: 20px; 
}

.poc > .member > ul {
	list-style: none; 
	display: inline-block;
    margin: 5px;
    padding: 0;
}

.poc > .member > img {
	border-radius: 50%;
    float: left;   
}

.member {
	background-color: #f5fff2;
    border-left: 2px solid #4fc3a0;
    height: 96px;
}

/* * * * * * * * * * * * * * 
 *
 * Post Styles 
 *
 *
 * * * * * * * * * * * * * */

article.max-width {
    max-width: 650px;
} 

.post-title-wrapper .page-title h1 {
    text-align: center;
    color: $cta-color; 
    width: 100%; 
}

.workshop-page-date p {
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 50px; 
}

.workshop-page-date span {
    color: $cta-color;
    font-weight: 600; 
}

.workshop-page-excerpt {
    margin-bottom: 50px; 
}

.workshop-page-hr {
    border-color: $primary-text;
    margin-bottom: 50px; 

}

.workshop-page-registration h2 {
    color: $cta-color;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px; 
}

.form-group.col-sm-6.right {
    float: right;
}

.workshop-page-registration .g-recaptcha {
    float: unset;
    margin: 25px 0; 
}

.workshop-page-registration .g-recaptcha > div {
    margin: 0 auto; 
}

.workshop-page-registration-submit {
    clear: both;
}

.workshop-page-registration-submit button {
    display: block;
    margin: 0 auto; 
}
    
.workshop-page-registration-slides {
    text-align: center;
    margin-top: 25px; 
} 

.workshop-page-registration-slides a {
    display: inline-block;
}

/* * * * * * * * * * * * * * 
 *
 * Workshop Index Styles 
 *
 *
 * * * * * * * * * * * * * */

.workshops-past h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800; 
}

.workshops .no-workshops {
	text-align: center; 
}


@media (min-width: 768px) {

    .news-date {
	width: 17%;
	text-align: center;
	vertical-align: top; 
    }
}

.workshop-excerpt {
    margin-left: 21px;
    max-width: 70%; 
}

.workshops .calendar-box {
    border: none
}

/* * * * * * * * * * * * * * 
 *
 * 404 / error page 
 *
 *
 * * * * * * * * * * * * * */

div.page-title.error h1 {
    color: $primary-text;
    text-align: center;
    width: 100%; 
} 

a#error-back-button {
    width: 150px;
    text-align: center;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin: 0 auto; 
}

div.error.container {
    width: 100%;
    background: url("../images/home-background-images/error-background.jpg");
}

div.error-page-url {
    text-align: center;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    font-size: 18px;
    color: #000000;
    border: 1px solid #B7B6B5; 

}

div.error-page-url > p {
    margin-bottom: 2px;
    padding: 5px; 
}

/* * * * * * * * * * * * * * 
 *
 * footer 
 *
 *
 * * * * * * * * * * * * * */

footer {
    background-color: $footer-color;
    min-height: 155px;
}

.footer-bu-text {
    display:none;
}

@media (min-width: 600px) {
    footer .footer-bu-text {
	color: #B7B6B5;
	display: inline-block;
	float: left;
	margin: 40px 0;
    }
    footer .footer-bu-text span {
	font-weight: 800; 
    }
}

footer ul {
	float: right; 
	list-style: none; 
	margin: 40px 0;
}

footer ul li {
    display: inline; 
    line-height: 2;
    font-size: 1.1em; 
    font-weight: 200;
    text-align: right; 
}

footer ul li:first-child {
    margin-right: 15px;
}
/*
footer ul li:first-child {
    padding-right: 25px; 
}
********/ 

footer ul li a span {
    margin-right: 10px;
}

footer ul li a img {
    margin: 0 3px 3px 0; 
    width: 17px;
    height: 17px; 
}

footer ul li a,
footer ul li a:hover,
footer ul li a:visited {
    color: $gray-text; 
}


footer a.bu-logo {
	float: left;
	margin: 50px 40px 0 0;
}

footer address {
	display: block; 
	width: 500px; 
}

footer div.container div {
	float: left;
	text-align: left;
	margin: 40px 0px 0px;
}

footer h3 {
	margin: 0;
}

footer h3 span {
	font-weight: 300; 
}

/* * * * * * * * * * * * * * 
 *
 * modal  
 *
 *
 * * * * * * * * * * * * * */

.modal-title {
	text-align: center;
	font-size: 22px;
}

.g-recaptcha {
    float:right;
    margin-bottom: 20px; 
}
