---
layout: default
title: Guides
permalink: /guides/
---

<div class="section-introduction">
 	<h1>Guides</h1> 
 	<p>Here you'll find all of our guides</p> 
</div> 

<div class="container">
	<div class="row">

	{% for page in site.pages %}
	 	{% if page.category contains "guide" %}
	 	<div class="col-md-5 section-index-item">
	 		<div class="section-index-item-header">
	 			<a href="{{ site.baseurl }}{{ page.url }}"><h3>{{ page.title }}</h3></a>
	 		</div> 
	 		 <p>{{ page.excerpt }}<p>
	 	</div>
 		{% endif %} 
	{% endfor %} 

	</div> 	
	<p class="citation">Image from: Botta, Federico; Susannah Moat, Helen; Eugene Stanley, H.; Preis, Tobias (2015): Relationship between Δt and the scaling exponent for the empirical tails of return distributions. figshare.<a href="https://dx.doi.org/10.1371/journal.pone.0135600.g003">https://dx.doi.org/10.1371/journal.pone.0135600.g003</a>
</div> 
