---
layout: default
---
<h1 class="page-title">{{ page.title }}</h1>
<div class="row">	 
	<article class="page col-md-9 col-md-offset-3">
	  <div class="entry">
	    {{ content }}

	    <div class="workshops">
	    	{% for tag in site.tags %}
    			{% assign t = tag | first %}
	  			{% if page.url contains t %}
	  				<h2>Workshops</h2> 
	  				<p>Here are some workshops that we have hosted that you might be interested in.</p>	  			
	  			{% endif %}
  			{% endfor %}
	  		<div class="row">
		    {% for post in site.categories.workshops %}
		    	{% if page.url contains post.tag %}
			    	<div class="workshop col-md-6">
			    		<h4>{{post.title }}</h4>
			    		<a href="{{site.baseurl }}{{ post.url }}">Visit</a>
			    	</div> 	 
		    	{% endif %}    	
		    {% endfor %}
		  	</div> 
	  </div>
	</article>

	<div class="col-md-3">
		<div class="poc">
		{% for member in site.data.members %}
			{% if member.email == page.poc %} 
			<h4>For help contact:</h4> 
			<div class="member">
				<ul>
				<li>{{ member.name }}</li>
				<li>{{ member.affiliation }}</li>
				<li>{{ member.email }}</li>
			</div> 	
			{% endif %}
		{% endfor %}
		</ul> 	
	</div> 
		<nav id="toc" class="affix-top" data-toggle="toc" data-spy="affix"></nav>
	</div> 	
</div> 