---
layout: default
---
<div class="page-title {{page.css}}">
	<h1>{{ page.title }}</h1>
	{% for member in site.data.members %}
		{% if member.email == page.poc %} 
			<p> For additional help contact {{ member.name }} at {{ member.email }}. 
		{% endif %}
	{% endfor %}
</div> 
<div class="row">	 
	<article class="page col-md-9 col-md-offset-3">
	  <div class="entry">
	    {{ content }}

{% comment %}
	    <div class="workshops">
	    	{% for tag in site.tags %}
    			{% assign t = tag | first %}
	  			{% if page.url contains t %}
	  				<h2>Workshops</h2> 
	  				<p>Here are some workshops that we have hosted that you might be interested in.</p>	  			
	  			{% endif %}
  			{% endfor %}
	  		<div class="row">
		    {% for post in site.categories.workshops %}
		    	{% if page.url contains post.tag %}
			    	<div class="workshop col-md-6">
			    		<h4>{{post.title }}</h4>
			    		<a href="{{site.baseurl }}{{ post.url }}">Visit</a>
			    	</div> 	 
		    	{% endif %}    	
		    {% endfor %}
		  	</div> 
		  	{% endcomment %}
	  </div>
	</article>

	<div class="col-md-3">
		<nav id="toc" class="affix-top" data-toggle="toc" data-spy="affix"></nav>
	</div> 	
</div> 