---
layout: default
title: Manage
permalink: /manage/
---
<div class="section-introduction">
  <h1>Data Management</h1> 
  <p>Here you'll find resources for helping you manage your data</p> 
</div> 

<div class="container">
  <div class="row no-margin section-index">

    {% for page in site.pages %}
    {% if page.category contains "manage" %}
    
    <div class="col-md-6 section-index-item">
      
      <div class="section-index-title {{ page.css }}">
	<a href="{{ site.baseurl }}{{ page.url }}">
	  <h3>{{ page.title }}</h3>
	</a>
      </div>			
      <p class="page-excerpt">{{ page.excerpt }}<p>
    </div>
    {% endif %}
    {% endfor %} 
  </div> 	
</div> 
